{% extends 'base.html.twig' %}

{% block content %}
    <div class="column middle">
        <form id="createUserForm" action="" method="POST">
            <p>Регистрация нового пользователя</p>
            <div class="">
                <label>Имя: </label>
                <input type="text" name="name">
            </div>
            <div class="">
                <label>Фамилия: </label>
                <input type="text" name="surname">
            </div>
            <div class="">
                <label>Номер телефона: </label>
                <input type="number" name="phone">
            </div>
            <div class="">
                <label>Кто Вас приласил: </label>
                <select name="invited">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.surname }} {{ user.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="">
                <label>Организация: </label>
                <input type="text" name="organisation">
            </div>
            <div class="">
                <label>Придумайте пароль: </label>
                <input type="password" name="password">
            </div>
            <div class="">
                <label>Подтвердите пароль: </label>
                <input type="password" name="repeatedPassword">
            </div>
            <div>
                <input id="saveButton" class="btn btn-primary" type="button" name="saveButton" value="Сохранить">
            </div>
            <div>
                <a href="{{ path('app_login') }}" class="btn btn-danger">
                    Отменить
                </a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script class="javascript">

        $(function () {
            let $saveUserButton = $("#saveButton");
            let $form = $("#createUserForm")

            $saveUserButton.on('click', function () {
                let $data = $form.serialize();
                $.post('{{ path('app_user_create') }}', $data, function (response) {
                    if (response.success !== true) {
                        alert('gg');
                    } else {
                        window.location.href = "{{ path('app_main_index') }}";
                    }
                }, 'json');
            })
        })




    </script>


{% endblock %}